main {
	position: relative;
	margin: 0 auto;
	padding: 20px;

	@include mixins.child_reset;

	p, h1, h2, h3, h4, ul {
		max-width: 800px;
		margin-right: auto;
		margin-left: auto;
	}

	.wp-block-image {
		margin: 20px auto;

		img {
			display: block;
			position: relative;
			max-width: 400px;
			max-height: 400px;
			margin: 0 auto;
		}

		&.wide {
			max-width: 1000px;

			img {
				max-width: 100%;
			}
		}
	}
}

@media(min-width: 40em) {
	main {
		padding: 20px 50px;
	}
}

@media(min-width: 50em) {
	main {
		&[data-booking] {
			padding-right: 240px;
		}
	}
}

@media(min-width: 60em) {
	main {
		width: 90vw;
		max-width: 1000px;
		margin: 50px auto;
		padding: 20px 0;

		&[data-booking] {
			padding-right: calc(250px - 5vw);
		}
	}
}

@media(min-width: 80em) {
	main {
		&[data-booking] {
			padding-right: 0;
		}
	}
}
