.popup {
	position: fixed;
	z-index: 50;
	right: 20px;
	bottom: 70px;

	&:before {
		position: absolute;
		z-index: -5;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		border-radius: 12px;
		background: var.$white;
		box-shadow: 0 1px 3px rgba(var.$neutral, 0.15), 0 0 8px rgba(var.$neutral, 0.1);
	}

	&:after {
		position: fixed;
		z-index: -10;
		top: 50%;
		left: 50%;
		width: 100vw;
		height: 100vh;
		transform: translateX(-50%) translateY(-50%);
		opacity: 0.7;
		background: var.$black;
	}

	.toggle {
		display: flex;
		position: absolute;
		right: 0;
		bottom: 0;
		align-items: center;
		justify-content: center;
		width: 40px;
		height: 40px;
		margin: 0;
		padding: 5px;

		&.close {
			display: none;
			top: 20px;
			right: 20px;
			border-color: transparent;
			background: none;
			color: var.$neutral;
		}

		svg {
			display: block;
			width: 100%;
		}
	}

	.last-updated {
		display: none;
	}

	.content {
		display: none;
		color: var.$neutral;
	}

	&.open {
		top: 50%;
		left: 50%;
		width: 90vw;
		max-width: 400px;
		height: max-content;
		max-height: 90vh;
		padding: 50px 20px;
		transform: translateX(-50%) translateY(-50%);

		&:before, &:after {
			content: '';
		}

		.content {
			display: block;
		}

		.toggle {
			display: none;

			&.close {
				display: block;
			}
		}
	}
}

@media(min-width: 40em) {
	.popup {
		p {
			width: 100%;
		}
	}
}

@media(min-width: 50em) {
	.popup {
		bottom: 20px;
	}
}

@media(min-width: 60em) {
	.popup {
		&.open {
			max-height: 600px;
		}
	}
}
