.cats {
	display: flex;
	max-width: 800px;
	margin: 20px 0;
	margin: 10px auto;
	padding: 0;
	list-style: none;

	li {
		margin: 10px;
	}

	a {
		display: block;
		padding: 10px 20px;
		border-radius: 2em;
		font-family: var.$font_headings;
		font-weight: 700;
		text-decoration: none;

		&:hover {
			background: var.$primary;
			color: var.$white;
		}

		&.current {
			background: var.$secondary;
			color: var.$white;
		}
	}
}

.posts {
	max-width: unset;
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;
}

.post {
	--border_width: 3px;

	position: relative;
	max-width: 300px;
	margin: 25px auto;
	padding: 20px;
	border: 3px solid var.$grey;
	text-align: left;

	@include mixins.animate_border(var.$grey, var.$primary, var(--border_width));

	h2 {
		margin-top: 0;
		text-align: left;
	}

	&:hover {
		border-color: var.$primary;

		img {
			border-color: var.$primary;
		}
	}

	img {
		max-width: calc(100% + 40px);
		margin: -20px -20px 20px;
	}

	.block_link {
		&:before {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
		}

		&:focus {
			outline: none;

			&:before {
				outline: 3px solid var.$primary;
			}
		}
	}
}

.pagination {
	.nav-links {
		display: flex;
		justify-content: center;
	}

	.page-numbers {
		display: block;
		min-width: 44px;
		margin: 10px;
		padding: 10px;
		border: 2px solid transparent;
		border-radius: 12px;
		text-align: center;

		&.current {
			border-color: var.$primary;
			background: var.$primary;
			color: var.$white;
		}

		&:hover {
			border-color: var.$primary;
			text-decoration: none;
		}
	}
}

@media(min-width: 40em) {
	.post {
		position: relative;
		max-width: 800px;
		padding-right: 270px;
		overflow: hidden;

		img {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			width: 250px;
			height: calc(100% + 40px);
			border-left: 3px solid var.$grey;
			object-fit: cover;
			object-position: center;
		}

		&:nth-child(2n) {
			padding-right: 20px;
			padding-left: 270px;

			img {
				right: auto;
				left: 0;
				border-right: 3px solid var.$grey;
				border-left: 0;
			}

			&:hover {
				img {
					border-color: var.$primary;
				}
			}
		}
	}
}

@media(min-width: 50em) {
	.post {
		--border_width: 5px;

		padding: 50px;
		padding-right: 350px;
		border-width: 5px;

		img {
			width: 300px;
			border-width: 5px;
		}

		&:nth-child(2n) {
			padding-right: 50px;
			padding-left: 350px;

			img {
				border-width: 5px;
			}
		}
	}
}
