.cats {
	display: flex;
	flex-wrap: wrap;
	max-width: 800px;
	margin: 20px 0;
	margin: 10px auto;
	padding: 0;
	list-style: none;

	li {
		margin: 10px;
	}

	a {
		display: block;
		padding: 10px 20px;
		border-radius: 2em;
		font-family: var.$font_headings;
		font-weight: 700;
		text-decoration: none;

		&:hover {
			background: var.$primary;
			color: var.$white;
		}

		&.current {
			background: var.$secondary;
			color: var.$white;
		}
	}
}

.posts {
	max-width: unset;
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;
}

.post {
	--border_width: 3px;

	position: relative;
	max-width: 300px;
	margin: 25px auto;
	padding: 20px;
	border: 3px solid var.$grey;
	text-align: left;

	@include mixins.animate_border(var.$grey, var.$primary, var(--border_width));

	h2 {
		margin-top: 0;
		text-align: left;
	}

	.cat {
		margin: -10px 0 10px 10px;
		font-size: 0.8em;
		font-weight: 400;
		text-align: left;

		a {
			font-weight: inherit;
		}
	}

	&:hover {
		border-color: var.$primary;

		img {
			border-color: var.$primary;
		}
	}

	img {
		position: relative;
		z-index: -1;
		max-width: calc(100% + 40px);
		margin: -20px -20px 20px;
	}

	.block_link {
		&:before {
			content: '';
			position: absolute;
			z-index: 5;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
		}

		&:focus {
			outline: none;

			&:before {
				outline: 3px solid var.$primary;
			}
		}
	}
}

.pagination {
	.nav-links {
		display: flex;
		justify-content: center;
	}

	.page-numbers {
		display: block;
		min-width: 44px;
		margin: 10px;
		padding: 10px;
		border: 2px solid transparent;
		border-radius: 12px;
		text-align: center;

		&.current {
			border-color: var.$primary;
			background: var.$primary;
			color: var.$white;
		}

		&:hover {
			border-color: var.$primary;
			text-decoration: none;
		}
	}
}

@media(min-width: 40em) {
	$image_size: 300px;

	.post {
		position: relative;
		max-width: 800px;
		padding-right: $image_size + 20px;
		overflow: hidden;

		img {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			width: $image_size;
			height: calc(100%);
			margin: 0;
			object-fit: cover;
			object-position: center;
		}

		.featured_image {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			width: $image_size;
			height: calc(100%);
			border: 3px solid var.$grey;

			@include mixins.child_animate_border_start(var.$grey, var.$primary, var(--border_width));
		}

		.content {
			display: -webkit-box;
			overflow: hidden;
			text-overflow: ellipsis;
			-webkit-line-clamp: 6;
			-webkit-box-orient: vertical;
		}

		&:hover {
			.featured_image {
				@include mixins.child_animate_border_end(var.$grey, var.$primary, var(--border_width));
			}
		}

		&:nth-child(2n) {
			padding-right: 20px;
			padding-left: $image_size + 20px;

			img, .featured_image {
				right: auto;
				left: 0;
			}
		}
	}
}

@media(min-width: 50em) {
	$image_size: 350px;

	.post {
		--border_width: 5px;

		padding: 50px;
		padding-right: $image_size + 50px;
		border-width: 5px;

		img {
			width: $image_size;
		}

		.featured_image {
			width: $image_size;
			border-width: 5px;
		}

		&:nth-child(2n) {
			padding-right: 50px;
			padding-left: $image_size + 50px;

			.feature_image {
				border-width: 5px;
			}
		}
	}
}

@media(min-width: 60em) {
	$image_size: 400px;

	.post {
		padding-right: $image_size + 50px;
		transition: max-width 1s linear;

		img {
			width: $image_size;
		}

		.featured_image {
			width: $image_size;
		}

		&:nth-child(2n) {
			padding-left: $image_size + 50px;
		}

		&:hover {
			max-width: 1200px;
			transition: max-width 1s linear 0.2s;
		}
	}
}

@media(min-width: 70em) {
	$image_size: 500px;

	.post {
		max-width: 900px;
		padding-right: $image_size + 50px;

		img {
			width: $image_size;
		}

		.featured_image {
			width: $image_size;
		}

		&:nth-child(2n) {
			padding-left: $image_size + 50px;
		}
	}
}
