.cats {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	max-width: 800px;
	margin: 20px 0;
	margin: 10px auto;
	padding: 0;
	list-style: none;

	li {
		margin: 10px;
	}

	a, .cat-title {
		display: block;
		padding: 10px 20px;
		border-radius: 2em;
		font-family: var.$font_headings;
		font-weight: 700;
		text-decoration: none;
	}

	a {
		&:hover {
			background: var.$primary;
			color: var.$white;
		}

		&.current {
			background: var.$secondary;
			color: var.$white;
		}
	}

	.cat-title {
		color: var.$primary;
		text-transform: uppercase;
	}

	&.filter {
		max-width: unset;
	}
}

.tags {
	.cat-title {
		color: var.$secondary;
		text-transform: uppercase;
	}

	&.filter {
		justify-content: center;
		max-width: unset;
		margin: 20px auto 0;
	}
}

.posts {
	max-width: unset;
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;
}

.post {
	position: relative;
	max-width: 300px;
	margin: 30px auto;
	text-align: left;

	.wrapper, .featured_image {
		border-radius: 20px;
		background: var.$white;
		box-shadow: 0 10px 20px rgba(var.$neutral, 0.19), 0 6px 6px rgba(var.$neutral, 0.23)
	}

	.wrapper {
		padding: 20px;
	}

	.featured_image {
		overflow: hidden;
		border-color: var.$primary;
	}

	h2 {
		margin-top: 0;
		text-align: left;
	}

	.cat {
		margin: -10px 0 10px 10px;
		font-size: 0.8em;
		font-weight: 400;
		text-align: left;

		a {
			font-weight: inherit;
		}
	}

	&:hover {

	}

	img {
		position: relative;
		z-index: -1;
		max-width: 100%;
		margin: 0;
	}

	.block_link {
		&:before {
			content: '';
			position: absolute;
			z-index: 5;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
		}

		&:focus {
			outline: none;

			&:before {
				outline: 3px solid var.$primary;
			}
		}
	}
}

.pagination {
	.nav-links {
		display: flex;
		justify-content: center;
	}

	.page-numbers {
		display: block;
		min-width: 44px;
		margin: 10px;
		padding: 10px;
		border: 2px solid transparent;
		border-radius: 12px;
		text-align: center;

		&.current {
			border-color: var.$primary;
			background: var.$primary;
			color: var.$white;
		}

		&:hover {
			border-color: var.$primary;
			text-decoration: none;
		}
	}
}

@media(min-width: 40em) {
	$image_size: 300px;

	.post {
		display: flex;
		max-width: 800px;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
		}

		.featured_image {
			flex-shrink: 0;
			width: $image_size;
		}

		.content {
			display: -webkit-box;
			overflow: hidden;
			text-overflow: ellipsis;
			-webkit-line-clamp: 6;
			-webkit-box-orient: vertical;
		}

		&:hover {
			.wrapper {
				background: var.$primary;
				color: var.$white;

				h2, a {
					color: inherit;
				}
			}
		}

		&:nth-child(2n) {
			.featured_image {
				margin-right: 10px;
			}
		}

		&:nth-child(2n - 1) {
			.featured_image {
				order: 2;
				margin-left: 10px;
			}
		}
	}
}

@media(min-width: 50em) {
	$image_size: 350px;

	.post {
		.wrapper {
			padding: 50px;
		}

		.featured_image {
			width: $image_size;
		}
	}

	main {
		&[data-booking] {
			.post {
				$image_size: 250px;
				margin-right: -50px;

				.featured_image {
					width: $image_size;
				}
			}
		}
	}
}

@media(min-width: 60em) {
	$image_size: 400px;

	.post {
		.featured_image {
			z-index: 5;
			width: $image_size;
			transition: transform 0.5s linear;
			pointer-events: none;

			img {
				z-index: 1;
				top: -15px;
				left: -15px;
				width: calc(100% + 30px);
				max-width: unset;
				height: calc(100% + 30px);
				transition: transform 0.5s linear;
				object-position: center;
			}
		}

		&:hover {
			.featured_image {
				transform: rotate(5deg) scale(1.1);
				border-width: 5px;
				border-style: solid;

				img {
					transform: rotate(-5deg);
				}
			}
		}
	}

	main {
		&[data-booking] {
			.post {
				$image_size: 300px;

				.featured_image {
					width: $image_size;
				}
			}
		}
	}
}

@media(min-width: 70em) {
	$image_size: 500px;

	.post {
		max-width: 900px;

		.featured_image {
			width: $image_size;
		}

		&:hover {
			.featured_image {
				transform: rotate(2deg) scale(1.05);

				img {
					transform: rotate(-2deg);
				}
			}
		}
	}

	main {
		&[data-booking] {
			.post {
				$image_size: 400px;
				margin-right: auto;

				.featured_image {
					width: $image_size;
				}

				&:hover {
					.featured_image {
						transform: rotate(5deg) scale(1.1);

						img {
							transform: rotate(-5deg);
						}
					}
				}
			}
		}
	}
}

@media(min-width: 80em) {
	main {
		&[data-booking] {
			.post {
				$image_size: 500px;

				.featured_image {
					width: $image_size;
				}

				&:hover {
					.featured_image {
						transform: rotate(2deg) scale(1.05);

						img {
							transform: rotate(-2deg);
						}
					}
				}
			}
		}
	}
}
