.article {
	max-width: 800px;
	margin: 0 auto;
}

.tags {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	list-style: none;

	li {
		margin: 0;
		margin: 5px;
		padding: 0;
		color: var.$primary;
		font-family: var.$font_headings;
		font-weight: 500;
		text-decoration: none;
		text-transform: small-caps;
	}

	a {
		display: block;
		text-decoration: none;

		&:before {
			content: '#';
		}

		&:hover {
			color: var.$secondary;
			text-decoration: underline;
		}
	}
}

.cat {
	font-family: var.$font_headings;

	text-align: right;

	a {
		font-weight: 700;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}

.post_content {
	clear: both;
	overflow: hidden;

	img {
		margin: 20px;

		&.alignright {
			margin-right: 0;
			float: right;
		}

		&.alignleft {
			margin-left: 0;
			float: left;
		}
	}
}

@media(min-width: 60em) {
	.article {
		h1 {
			font-size: 2em;
		}
	}
}
