.services {
	position: relative;
	padding: 20px 0;
	text-align: center;

	&:before {
		content: '';
		position: absolute;
		z-index: -1;
		top: 0;
		bottom: 0;
		left: 50%;
		width: 100vw;
		transform: translateX(-50%);
		background: var.$grey_light;
	}

	ul {
		max-width: unset;
		margin: 0;
		padding: 0;
		list-style: none;
	}

	&:last-child {
		margin-bottom: -20px;
	}
}

.service {
	position: relative;
	max-width: 300px;
	margin: 25px auto;
	padding: 20px;
	overflow: hidden;
	border-radius: 12px;
	background: var.$white;
	box-shadow: 0 10px 20px rgba(var.$neutral, 0.19), 0 6px 6px rgba(var.$neutral, 0.23);
	color: var.$grey;
	text-align: center;

	svg {
		width: 80px;
		height: auto;
		margin: 0 auto;
		color: var.$primary;

		* {
			fill: currentColor;
		}
	}

	h3 {
		margin: 10px 0;
	}

	.content {
		text-align: left;

		ul {
			max-width: calc(100% - 2ch);
			margin-left: 2ch;
		}

		li {
			max-width: 100%;
			margin-bottom: 0.25em;
			padding-left: 1ch;
			list-style: disc;
		}
	}

	.block_link {
		&:before {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			border-radius: 12px;
		}

		&:focus {
			outline: none;

			&:before {
				outline: 3px solid var.$primary;
			}
		}
	}
}

@media(min-width: 40em) {
	.services {
		ul {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			width: calc(100% + 20px);
			margin: 0 -10px;
		}
	}

	.service {
		flex-grow: 1;
		width: 45%;
		margin: 10px;

		.content {
			ul {
				display: block;
			}
		}
	}

	@supports(grid-template-areas: '.') {
		.services {
			ul {
				display: grid;
				grid-gap: 25px;
				grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
				width: 100%;
				margin: 0;
			}
		}

		.service {
			width: 100%;
			max-width: unset;
			margin: 0;
		}
	}
}

@media(min-width: 50em) {
	.services {
		&:before {
			width: 110vw;
			margin-left: 95px;
		}
	}
}

@media(min-width: 60em) {
	.services {
		padding: 50px 0;

		&:last-child {
			margin-bottom: 50px;
		}

		.cta {
			margin-top: 50px;
		}
	}
}

@media(min-width: 80em) {
	.services {
		padding: 100px 0;

		&:before {
			margin-left: 0;
		}

		.cta {
			margin-top: 100px;
		}
	}
}
