@font-face {
	font-family: 'Roboto Slab';
	font-style: normal;
	font-weight: 400;
	src: url('./src/fonts/RobotoSlab-Regular.ttf') format('truetype');
	font-display: block;
}

@font-face {
	font-family: 'Roboto Slab';
	font-style: normal;
	font-weight: 500;
	src: url('./src/fonts/RobotoSlab-Medium.ttf') format('truetype');
	font-display: block;
}

@font-face {
	font-family: 'Roboto Slab';
	font-style: normal;
	font-weight: 600;
	src: url('./src/fonts/RobotoSlab-SemiBold.ttf') format('truetype');
	font-display: block;
}

@font-face {
	font-family: 'Roboto Slab';
	font-style: normal;
	font-weight: 700;
	src: url('./src/fonts/RobotoSlab-Bold.ttf') format('truetype');
	font-display: block;
}

@font-face {
	font-family: 'Roboto Slab';
	font-style: normal;
	src: url('./src/fonts/RobotoSlab-VariableFont_wght.ttf') format('truetype');
	font-display: block;
}

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: url('./src/fonts/Roboto-Regular.ttf') format('truetype');
	font-display: block;
}

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	src: url('./src/fonts/Roboto-Medium.ttf') format('truetype');
	font-display: block;
}

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 600;
	src: url('./src/fonts/Roboto-SemiBold.ttf') format('truetype');
	font-display: block;
}

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	src: url('./src/fonts/Roboto-Bold.ttf') format('truetype');
	font-display: block;
}

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	src: url('./src/fonts/Roboto-VariableFont_wght.ttf') format('truetype');
	font-display: block;
}

@font-face {
	font-family: 'Roboto';
	font-style: italic;
	font-weight: 400;
	src: url('./src/fonts/Roboto-RegularItalic.ttf') format('truetype');
	font-display: block;
}

@font-face {
	font-family: 'Roboto';
	font-style: italic;
	font-weight: 500;
	src: url('./src/fonts/Roboto-MediumItalic.ttf') format('truetype');
	font-display: block;
}

@font-face {
	font-family: 'Roboto';
	font-style: italic;
	font-weight: 600;
	src: url('./src/fonts/Roboto-SemiBoldItalic.ttf') format('truetype');
	font-display: block;
}

@font-face {
	font-family: 'Roboto';
	font-style: italic;
	font-weight: 700;
	src: url('./src/fonts/Roboto-BoldItalic.ttf') format('truetype');
	font-display: block;
}

@font-face {
	font-family: 'Roboto';
	font-style: italic;
	src: url('./src/fonts/Roboto-Italic-VariableFont_wght.ttf') format('truetype');
	font-display: block;
}
