@use '../themes.scss';
@use '../variables.scss' as var;
@use '../mixins.scss';

body {
	&[class*='theme_'] {
		.notice {
			h2, h3 {
				color: inherit;
			}

			a {
				color: inherit;
			}
		}

		h1, h2, h3, h4, h5 {
			&.has-text-color {
				@include mixins.gutenberg_text_colours;

				color: var(--text_colour);
			}
		}
	}
}

.theme_blue {
	$primary: var.$blue;
	$secondary: var.$blue_dark;

	@include themes.generate_theme($primary, $secondary);
}

.theme_red {
	$primary: var.$red;
	$secondary: var.$sienna;

	@include themes.generate_theme($primary, $secondary);

	a {
		color: $primary;
	}
}
