@use '../themes.scss';
@use '../variables.scss' as var;

body {
	&[class*='theme_'] {
		.notice {
			h2, h3 {
				color: inherit;
			}

			a {
				color: inherit;
			}
		}
	}
}

.theme_blue {
	$primary: var.$blue;
	$secondary: var.$blue_dark;

	@include themes.generate_theme($primary, $secondary);
}

.theme_red {
	$primary: var.$red;
	$secondary: var.$sienna;

	@include themes.generate_theme($primary, $secondary);

	a {
		color: $primary;
	}
}
