body {
	color: #000000;
	font-family: var.$font_main;
	font-size: 16px;
	line-height: 1.5;
}

a {
	color: var.$secondary;
	text-underline-offset: 0.4em;

	&:hover {
		text-decoration: none;
	}

	@include mixins.gutenberg_text_colours;
}

p {
	@include mixins.gutenberg_text_colours;
}

h1, h2, h3, h4, h5 {
	color: var.$primary;
	font-family: var.$font_headings;

	a {
		color: inherit;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}

	@include mixins.gutenberg_text_colours;
}

h1, h2 {
	text-align: center;
	text-transform: uppercase;
}

h3, h4, h5 {
	color: var.$secondary;
	text-transform: uppercase;
}

nav {
	font-family: var.$font_headings;

	ul, li {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	a {
		display: block;
		color: inherit;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}

.btn, button {
	display: inline-block;
	margin: 20px auto;
	padding: 10px 20px;
	border: 2px solid var.$primary;
	border-radius: 8px;
	background: var.$primary;
	color: var.$white;
	font-family: var.$font_headings;
	font-weight: 600;
	line-height: 1;
	text-decoration: none;
	text-transform: uppercase;

	&:hover {
		background: var.$white;
		color: var.$primary;
	}
}

@media(min-width: 60em) {
	h1 {
		font-size: 2.5em;
	}
}

@media(min-width: 80em) {
	h1 {
		font-size: 3em;
	}
}
