@use './variables.scss' as var;
@use './mixins.scss';

@mixin generate_theme($primary, $secondary) {
	*:focus {
		outline-color: $secondary;
	}

	a {
		color: $secondary;
	}

	h1, h2, h3, h4, h5 {
		color: $primary;
	}

	h3, h4, h5 {
		color: $secondary;
	}

	.btn, button {
		border: 2px solid $primary;
		background: $primary;
		color: var.$white;

		&:hover {
			background: var.$white;
			color: $primary;
		}
	}

	form {
		input, textarea, select {
			&[type='checkbox'], &[type='radio'] {
				& + label {
					&:before {

						border-color: $primary;
					}

					&:after {
						background: $primary;
					}
				}
			}
		}

		button, input {
			&[type='submit'] {
				border-color: $primary;
				background: $primary;

				&:hover, &:focus {
					color: $primary;
				}
			}
		}
	}

	.wpforms-title {
		color: $primary;
	}

	.header {
		border-bottom-color: $primary;
		color: $secondary;

		.logo {
			&:hover {
				outline-color: $primary;
			}
		}

		nav {
			ul {
				color: $primary;
			}

			a {
				&:hover {
					background: $primary;
				}
			}

			li {
				&.current_page_item {
					> a {
						background: $secondary;
						color: var.$white;
					}
				}
			}
		}
	}

	.hamburger {
		border-color: transparent;
		background: none;
		color: $primary;

		&:hover {
			background: $primary;
			color: var.$white;
		}
	}

	&.has_banner {
		h1, .post-header {
			color: $secondary;
		}
	}

	.logos {
		h2 {
			color: $secondary;
		}

		.cta {
			border-color: $secondary;
			background: $secondary;
			color: var.$white;

			&:hover {
				color: $secondary;
			}
		}
	}

	.service {
		svg {
			color: $primary;
		}

		.block_link {
			&:focus {
				&:before {
					outline-color: $primary;
				}
			}
		}
	}

	.profile {
		.role {
			color: $primary;
		}
	}

	.post {
		.featured_image {
			border-color: $primary;
		}

		&:hover {
			.wrapper {
				background: $primary;
				color: var.$white;

				h2, a {
					color: inherit;
				}
			}
		}
	}

	.cats {
		a {
			&.current {
				background: $secondary;
			}

			&:hover {
				background: $primary;
			}
		}

		.cat-title {
			color: $primary;
		}
	}

	.tags {
		a {
			color: $primary;

			&:hover {
				color: $secondary;
			}

			&.current {
				background: $secondary;
				color: var.$white;

				&:hover {
					text-decoration: none;
				}
			}
		}

		.cat-title {
			color: $secondary;
		}
	}

	.block_link {
		&:focus {
			&:before {
				outline-color: $primary;
			}
		}
	}

	.pagination {
		.page-numbers {
			&.current {
				border-color: $primary;
				background: $primary;
			}

			&:hover {
				border-color: $primary;
			}
		}
	}

	.footer {
		border-top-color: $primary;
		background: $secondary;

		a {
			color: var.$white;

			svg {

				fill: $primary;
			}

			&:hover {
				color: $primary;

				svg {
					fill: var.$white;
					color: $primary;
				}
			}
		}

		.popup {
			a {
				color: $primary;
			}
		}
	}

	.wp-block-buttons {
		--background_colour: #{var.$primary};
		--text_colour: #{var.$white};

		.wp-block-button__link {
			border-color: $primary;
			background: $primary;

			&:hover {
				color: $primary;
			}
		}
	}

	@media(min-width: 50em) {
		.header {
			nav {
				ul {
					color: $primary;
				}
			}
		}
	}
}
