$black: #000000;
$grey: #4c4c4d;
$white: #ffffff;
$grey_light: #e5e5e5;

$neutral: $black;
$good: #64ad66;
$success: $good;
$warning: #ff8c00;
$fail: #e53f51;
$error: $fail;

// Blue Theme
$blue: #0397d6;
$navy: #00457c;

// Red Theme
$red: #ab0534;

// Default Theme
$primary: #797a7a;
$secondary: #a6a6a7;

$font_headings: 'Roboto Slab', serif;
$font_main: 'Roboto', sans-serif;
