/* Custom Editor Styles */
@use './variables.scss' as var;
@use './mixins.scss';

@import './global/fonts.scss';
@import './global/typography.scss';
@import './global/forms.scss';

@import './blocks/index.scss';

.block-editor-writing-flow, .editor-styles-wrapper {
	color: var.$neutral;
	font-family: var.$font_main;
	font-size: 18px;
	line-height: 1.5;

	.editor-post-title {
		.editor-post-title__input {
			color: var.$primary;
			font-family: var.$font_headings;
			font-size: 3.22em;
			font-weight: 400;
			line-height: 1.2;
			text-transform: uppercase;
		}
	}

	.wp-block {
		&[data-type='acf/logos-block'], &[data-type='acf/services-block'], &[data-type='acf/block-standard'] {
			.acf-editor-wrap {
				iframe {
					min-height: unset;
					max-height: 150px;
				}
			}
		}
	}

	.wp-block-button__link {
		display: inline-block;
		padding: 10px 20px;
		border: 2px solid var.$primary;
		border-radius: 8px;
		background: var.$primary;
		color: var.$white;
		font-family: var.$font_headings;
		font-weight: 600;
		line-height: 1;
		text-decoration: none;
		text-transform: uppercase;

		&:hover {
			background: var.$white;
			color: var.$primary;
		}
	}

	.button-primary {
		padding: 5px 10px;
		background: var.$primary;
		color: var.$white;
	}

	.mce-toolbar {
		button {
			background: transparent;
			color: var.$neutral;
		}
	}
}

.acf-icon-select-wrap {
	display: flex;
	align-items: center;

	.acf-icon-select-feature {
		order: -1;
		width: 150px;
		height: 150px;
	}

	.sr-only {
		position: absolute;
		width: 0;
		height: 0;
		opacity: 0;
		pointer-events: none;
	}

	.field {
		padding: 10px 20px;
	}
}
